@import "base.sass"

.header-navbar__item
    a
        text-decoration: none

.header-navbar .logo-text
    color: white

.header-top
    &__right 
        gap: 30px
        align-items: center
    &__item
        display: flex
        align-items: center
        gap: 9px

        
.services
    background: $light

section
    padding: 80px 0 90px
    @media screen and ( max-width: $lg )
        padding: 20px 0 50px


    &.no-p
        padding: 0

.services
    .slick-slide
        filter: blur(5px)

    .slick-active
        filter: unset

    &__list
        width: 105% 
        margin-top: 50px


        .draggable
            overflow: unset
            width: 100%

        .slick-arrow
            transition: .3s
            margin: false
            position: absolute
            height: 60px
            width: 60px
            top: calc(50% - 30px)
            border: none
            outline: none
            box-shadow: none
            background: $yellow !important

        .slick-disabled
            display: none !important
        .slick-prev
            left: -200px
            @media screen and ( max-width: 1800px )
                left: -2vw
        .slick-next
            right: -200px
            @media screen and ( max-width: 1800px )
                right: -2vw
    &__item
        position: relative
        width: 327px
        max-width: 100%
        // cursor: pointer
        &-wrapper
            padding-right: 20px
        img
            width: 100%
            height: 564px
            max-height: 70vh
            object-fit: cover
            @media screen and ( max-width: $xl )
                height: 400px

        &-title
            position: absolute
            text-align: center
            font-size: 25px;
            font-weight: 300;
            line-height: 29px;
            text-align: center;
            z-index: 100

            color: white

            width: 100%
            bottom: 34px
            transition: .3s

        &-hover
            opacity: 0
            display: grid
            place-items: center
            position: absolute
            height: 100%
            width: 100%
            top: 0
            left: 0
            background: $red-op
            transition: .3s
            padding-bottom: 2rem

        &:hover
            .services__item-title
                bottom: calc(50% - 3em)
            
            .services__item-hover
                opacity: 1


.gallery
    position: relative
    &::after
        position: absolute
        z-index: -1
        content: url('../img/lines1.png')
    &__show-switch
        margin-top: 48px

        cursor: pointer

        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: $red

        *
            margin: auto
            width: fit-content
            border-bottom: 1px dashed $red

    &__grid
        margin-top: 41px
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        gap: 20px
        a
            display: block
            position: relative
            &::after
                position: absolute
                display: grid
                width: 100%
                height: 100%
                top: 0
                left: 0
                place-items: center
                opacity: 0
                transition: .3s
                content: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.375 0.5C5.38667 0.5 0.5 5.38667 0.5 11.375C0.5 17.3633 5.38667 22.25 11.375 22.25C13.8299 22.25 16.0917 21.4198 17.9155 20.0381L24.9395 27.0605C25.0777 27.2045 25.2432 27.3194 25.4264 27.3986C25.6096 27.4778 25.8068 27.5196 26.0063 27.5217C26.2059 27.5237 26.4038 27.4859 26.5886 27.4104C26.7734 27.335 26.9412 27.2235 27.0824 27.0824C27.2235 26.9412 27.335 26.7734 27.4104 26.5886C27.4859 26.4038 27.5237 26.2059 27.5217 26.0063C27.5196 25.8068 27.4778 25.6096 27.3986 25.4264C27.3194 25.2432 27.2045 25.0777 27.0605 24.9395L20.0381 17.9155C21.4198 16.0917 22.25 13.8299 22.25 11.375C22.25 5.38667 17.3633 0.5 11.375 0.5ZM11.375 3.5C15.742 3.5 19.25 7.00799 19.25 11.375C19.25 13.4718 18.4355 15.3655 17.1113 16.7729C16.9824 16.8663 16.8692 16.9795 16.7759 17.1084C15.3681 18.4343 13.4733 19.25 11.375 19.25C7.00799 19.25 3.5 15.742 3.5 11.375C3.5 7.00799 7.00799 3.5 11.375 3.5Z' fill='white'/%3E%3C/svg%3E")
                background: #FBECB3A6;
            &:hover
                
                &::after
                    opacity: 1

            picture, img
                width: 100%
                height: 100%
                object-fit: cover

        a:nth-last-child(9n+0)
            grid-column: 1/3
            grid-row: 1/2
            
        a:nth-last-child(9n+1)
            grid-column: 1/2
            grid-row: 2/3
            
        a:nth-last-child(9n+2)
            grid-column: 2/3
            grid-row: 2/3

        a:nth-last-child(9n+3)
            grid-column: 3/4
            grid-row: 1/3

        a:nth-last-child(9n+4)
            grid-column: 4/5
            grid-row: 1/2

        a:nth-last-child(9n+5)
            grid-column: 4/5
            grid-row: 2/3

        a:nth-last-child(9n+6)
            grid-column: 1/2
            grid-row: 3/4

        a:nth-last-child(9n+7)
            grid-column: 2/4
            grid-row: 3/4

        a:nth-last-child(9n+8)
            grid-column: 4/5
            grid-row: 3/4


        @media screen and ( max-width: $md )
            grid-template-columns: 1fr 1fr
            a:nth-last-child(9n+0)
                grid-column: 1/3
                grid-row: 1/2
                
            a:nth-last-child(9n+1)
                grid-column: 1/2
                grid-row: 2/3
                
            a:nth-last-child(9n+2)
                grid-column: 2/3
                grid-row: 2/3

            a:nth-last-child(9n+3)
                grid-column: 1/2
                grid-row: 3/5

            a:nth-last-child(9n+4)
                grid-column: 2/3
                grid-row: 3/4

            a:nth-last-child(9n+5)
                grid-column: 2/3
                grid-row: 4/5

            a:nth-last-child(9n+6)
                grid-column: 1/2
                grid-row: 6/7

            a:nth-last-child(9n+7)
                grid-column: 1/3
                grid-row: 5/6

            a:nth-last-child(9n+8)
                grid-column: 2/3
                grid-row: 6/7
            

.project-type
    display: grid
    gap: 70px
    margin: 100px 0 160px
    align-items: center

    @media screen and ( max-width: $lg )
        margin-bottom: 80px
        display: flex
        flex-direction: column
        

.double-photos
    display: grid

.project-zone
    
    grid-template-columns: 1fr 1.1fr
    position: relative
    &::after
        position: absolute
        content: url('../img/lines2.png')
        z-index: -1
    @media screen and ( max-width: $lg )
        flex-direction: column-reverse

    .double-photos
        width: 122%
        margin-right: -22%
        picture:first-child
            grid-column: 1/3 
            grid-row: 1/4
            z-index: 10
            position: relative
            img
                box-shadow: 40px 40px 40px rgba(0,0,0,0.1)

        picture:nth-child(2)
            grid-column: 2/5
            grid-row: 2/5
            place-self: end

.project-sketch
    grid-template-columns: 1.4fr 1fr
    

    .double-photos
        width: 122%
        margin-left: -22%
        picture:first-child
            grid-column: 1/4 
            grid-row: 1/4

        picture:nth-child(2)
            grid-column: 3/5
            grid-row: 2/5
            place-self: end
            img
                box-shadow: -40px -40px 40px rgba(0,0,0,0.1)

.project-service
    grid-template-columns: 1fr 1.7fr
    align-items: end
    margin-bottom: 22px

    .double-photos
        width: 152%
        margin-left: -52%
        picture:first-child
            grid-column: 1/85 
            grid-row: 1/53

        picture:nth-child(2)
            grid-column: 40/100
            grid-row: 25/100
            place-self: end
            img
                box-shadow: -40px -40px 40px rgba(0,0,0,0.1)

    ul
        max-height: 300px
        display: flex
        flex-direction: column
        flex-wrap: wrap
        gap: 7px 50px
        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        place-content: space-between
        align-items: start
        li
            max-width: 354px

.project-step
    &__description
        margin: 34px 0
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        text-align: left;

    &__numbers
        display: flex
        gap: 15px
        margin-bottom: 60px
        @media screen and ( max-width: $md )
            display: flex
            flex-direction: column
            gap: 40px
            

    &__number
        display: grid
        grid-template-columns: 34px 1fr
        gap: 9px
        &-icon
            grid-column: 1/2
            grid-row: 1/3

        &-title
            grid-column: 2/3
            grid-row: 1/2
            font-size: 24px;
            font-weight: 300;
            line-height: 32px;
            text-align: left;


        &-value
            grid-column: 2/3
            grid-row: 2/3
            font-weight: 400;
            font-size: 29px;
            line-height: 32px;
            color: black
                
    .btn-primary
        width: fit-content

.benefits
    &__grid
        display: grid
        grid-template-columns: 1fr 463px
        gap: 40px 95px
        @media screen and ( max-width: $xl )
            @include vertical


    &__list
        @include vertical
        gap: 34px
        
    &__item
        display: flex
        gap: 25px

        font-size: 24px;
        font-weight: 300;
        line-height: 32px;

        svg
            margin-top: 10px

    &__title
        font-weight: 800

    &__info
        
        border: 5px solid $dark-border
        @include vertical
        gap: 53px
        @media screen and ( max-width: $xl )
            gap: 30px 10%
            flex-wrap: wrap

        &-wrapper
            background: $dark-back
            padding: 35px
            height: fit-content
            margin-top: 28px


        &-img
            margin-top: -100px
            margin-left: -40px
            width: calc(100% + 80px)
            @media screen and ( max-width: $xl )
                margin-top: -10px
                margin-left: -10px
                width: 40%
                transform: scale(1.5)

            @media screen and ( max-width: $xl )
                display: none

            img
                width: 100%

        &-text
            font-size: 28px;
            font-weight: 300;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: center;
            color: white
            padding: 0 15px 0
            @media screen and ( max-width: $xl )
                padding-top: 15px 
            @media screen and ( max-width: $md )
                font-size: 24px


    &__contact
        padding: 0 25px
        @media screen and ( max-width: $lg )
            margin: auto
        .btn-primary
            width: fit-content
            margin: auto
            @media screen and ( max-width: $lg )
                font-size: 23px

        .phone
            width: fit-content
            margin: 28px auto 35px
        

            a
                font-size: 25px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                color: white
                text-decoration: none


.about
    background: $light
    background-image: url('../img/dd.svg')
    background-repeat: no-repeat
    background-position-y: 50px
    background-position-x: 48%
    padding: 116px 0 115px !important
    margin-top: 40px
    &__grid
        display: grid
        grid-template-columns: 1fr 463px
        gap: 93px
        @media screen and ( max-width: $xxl )
            grid-template-columns: 1fr 333px
        @media screen and ( max-width: $lg )
            display: block

    p
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;


    
    &__img
        img
            position: absolute
            margin-top: -181px
            margin-bottom: -126px

        @media screen and ( max-width: $lg )
            display: none

.ivanova
    padding-bottom: 127px
    @media screen and ( max-width: $lg )
        padding-bottom: 40px
        padding-top: 40px

    &__grid
        display: grid
        grid-template-columns: 5fr 6fr
        gap: 55px
        align-items: end
        @media screen and ( max-width: $lg )
            @include vertical
            
            
    &__small-text
        font-size: 18px

    &__text
        padding-bottom: 50px
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;

    .quote
        position: relative
        &::after
	        content: url("data:image/svg+xml,%3Csvg width='141' height='122' viewBox='0 0 141 122' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 61.2H21.6L18 58.2C18 63.8 16.6 71.2 13.8 80.4C11.4 90 7 99.4 0.600001 108.6L17.4 121.8C27.8 111.4 35.8 100 41.4 87.6C47 75.6 49.8 63.6 49.8 51.6V0H0V61.2Z' fill='%23F8F8F8'/%3E%3Cpath d='M91.125 61.2H112.725L109.125 58.2C109.125 63.8 107.725 71.2 104.925 80.4C102.525 90 98.125 99.4 91.725 108.6L108.525 121.8C118.925 111.4 126.925 100 132.525 87.6C138.125 75.6 140.925 63.6 140.925 51.6V0H91.125V61.2Z' fill='%23F8F8F8'/%3E%3C/svg%3E")
        &::after
            position: absolute
            bottom: -30px
            right: 60px
            z-index: -1

.work-scheme
    padding: 70px 0
    background: $light
    text-align: center
    background-image: url('../img/dd.svg')
    background-repeat: no-repeat
    background-position-y: 400px
    background-position-x: 50%
    h2
        margin-bottom: 68px
    &__list
        display: flex
        flex-wrap: wrap
        gap: 65px
        justify-content: center

    &__item
        width: 281px
        max-width: 80vw
        @include vertical
        gap: 32px
        &:nth-child(6)
            width: 381px
            
.offer
    display: grid
    grid-template-columns: 1fr 1fr
    @media screen and ( max-width: $xl )
        display: block
    &__left
        background: $yellow
        position: relative

        @media screen and ( max-width: $lg )
            display: none
        img
            position: absolute
            right: 120px
            top: -20%
            height: 150%
            object-fit: contain
            
            @media screen and ( max-width: $xxl )
                right: 20px


    &__right
        background: $dark-back
        padding: 39px

    
    &__content
        padding: 50px
        @include vertical
        color: white
        border: 5px solid $dark-border
        gap: 33px
        max-width: 613px
        box-sizing: content-box
        font-size: 31px;
        font-weight: 300;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        @media screen and ( max-width: $xl )
            max-width: 100%
        @media screen and ( max-width: $md )
            font-size: 25px;
            padding: 30px

            

        .phone 
            flex-shrink: 0
            a
                font-size: 25px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0em;
                color: white
                display: flex
                gap: 15px
                align-items: center
                text-decoration: none
                @media screen and ( max-width: $md )
                    font-style: 21px
                    


.contacts

    padding-bottom: 74px
    &__gallery
        margin-top: 37px
        display: flex
        gap: 19px
        @media screen and ( max-width: $lg )
            display: grid
            grid-template-columns: 1fr 1fr
            a
                width: auto

                max-width: 80vw
                flex-shrink: 0
            
        a
            display: block
            width: 
            

#map
    margin-top: 27px
    height: 630px
    
    @media screen and ( max-width: $lg )
        max-height: 70vh


       
.ymaps-2-1-79-ground-pane
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);

.map-info

    border: 5px solid $dark-border
    padding: 40px

    @include vertical
    gap: 20px
    @media screen and ( max-width: $lg )
        padding: 20px
    .container
        position: relative

    &-wrapper
        padding: 20px !important
        background: $dark-back
        position: absolute
        z-index: 100
        width: 543px
        max-width: 100%
        right: 0
        top: 180px
        @media screen and ( max-width: $lg )
            position: static
            margin-bottom: 30px
            width: 100%


    
    &__item
        display: grid
        grid-template-columns: 14px 1fr
        gap: 12px   
        color: white !important
        a
            color: white !important

        svg
            margin-top: 10px

    &__small-text
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;

    &__content
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        @media screen and ( max-width: $md )
            font-size: 22px
            
        a
            text-decoration: none

footer
    
    padding: 37px 0 28px

    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

    .footer-list
        margin: auto
        box-sizing: content-box
        @include vertical
        gap: 26px
        max-width: 1147px 